#dashboard
    position absolute
    width calc(100% - 250px)
    min-height 100%
    overflow-x hidden
    overflow-y scroll
    left 250px
    top 0
    z-index 5
    background white
    transform translate3d(0, 100%, 0)
    .dashboard-title
        background red
        color white
        margin-top 0
        margin-bottom 0.5em
        padding 0.5em
